# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

objectives:

* List popular languages for Data Science

* libraries used by Data Scientists

* Insert code and markdown cells in Jupyter Notebook

* Share notebook through GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Spyder             |

### Arithmetic Expression Examples

Below are a few examples of evaluating arithmetic expressions in Python:

1. Addition: `2 + 3 = 5`
2. Subtraction: `5 - 3 = 2`
3. Multiplication: `2 * 3 = 6`
4. Division: `6 / 2 = 3`
5. Exponentiation: `2 ** 3 = 8`

In [4]:
#This a simple arithmetic expression to mutiply then add integers#
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60#
200/60

3.3333333333333335

## Author
Minyung Song